# Environment
.env

# Python
__pycache__/
*.py[cod]
*.so

# Django
backend/staticfiles/

# Rust
rust-service/target/

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# Docker volumes
pgdata/